* {
  /* Set the font globally */
  font-family: var(--sans-font);
}

header {
    border-bottom: 1px solid var(--border);
    text-align: center
  }

.post-link a {
  line-height: 1;
}

.meta {
  color: var(--text-light);
  font-size: 1rem;
  margin-top: -2rem;
}

.excerpt {
  margin-bottom: 4rem;
}

nav a:hover,
nav a.current {
  color: var(--accent) !important;
  border-color: var(--accent);
  background: var(--bg);
}

ul.archive {
  list-style-type: none;
  padding: 0;
}

ul.archive li {
  padding-bottom: 1rem;
}
