---
layout: default
---

<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>

{{ content }}

<br>
<hr>

<p>Looking for comments? There are no comments. It's not that I don't care what you think, it's just that I don't want to manage a comments section.</p>

<p>
  If you want to comment, there's a really good chance I at least mentioned this post on [Fosstodon](https://fosstodon.org/@mike), and you can reply to me there. 
  If you don't have a [Mastodon](https://joinmastodon.org) account, I'd suggest giving it a try.
</p>

<p>If you don't want to join Mastodon, and you still want to comment, feel free to use my <a href="/contact">contact</a> information.</p>
